# Welcome to this Jupyter Notebook!

Cells can contain markdown or Python code - this is a markdown cell

## Tour

Take a look at the menus and buttons

In [114]:
# Add and delete cells (you may want to add a cell to test something along the way)
# Move cells up and down
# Clear and run multiple cells

# Intro to Python

In [1]:
# This is a comment, ignored by Python. It only lasts a single line.
'''This is a doc string. 
Also ignored by Python but can span multiple lines'''

'This is a doc string. \nAlso ignored by Python but can span multiple lines'

In [115]:
# integers
1

1

In [116]:
# variable assignment
x = 1
type(x)

int

In [117]:
# floats
2.0

2.0

In [118]:
# variable assignment
y = 2.0
type(y)

float

In [119]:
# arithmetic
3 * 4

12

In [120]:
# strings
name = 'Christy' # single quotes is fine
lastname = "Heaton" # double quotes is also fine, but you have to use the same type for a single string

In [121]:
name,lastname

('Christy', 'Heaton')

In [122]:
# indexing with strings
name[2]

'r'

In [123]:
# lists - mutable containers
a = [1,2,3]
b = ['house','work','pet store']

In [124]:
a + b

[1, 2, 3, 'house', 'work', 'pet store']

In [125]:
a.append(5)

In [126]:
a

[1, 2, 3, 5]

In [127]:
# the pop method
b.pop()

'pet store'

In [128]:
b

['house', 'work']

In [129]:
# list comprehensions
[x + 2 for x in range(10)]

[2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [130]:
# tuples - immutable containers
c = (1,2,3)
d = ('house','work','pet store')

In [131]:
c + d

(1, 2, 3, 'house', 'work', 'pet store')

In [132]:
# this will error
c.append(5)

AttributeError: 'tuple' object has no attribute 'append'

In [133]:
# dictionaries
f = {1:'house', 2:'work',3:'pet store'}

In [134]:
# get the value with the key of 2
f[2]

'work'

In [135]:
f[4] = 'brewery'

In [136]:
f

{1: 'house', 2: 'work', 3: 'pet store', 4: 'brewery'}

In [137]:
# functions

def myfun(n,m):
    '''adds two numbers together'''
    return n+m

In [138]:
z = myfun(6, 7)
z

13

In [139]:
# Built-in functions
# print
print('Hello world!')

Hello world!

In [140]:
# type
type('hello')

str

In [141]:
# range
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [142]:
# zip
print(c)
print(d)
list(zip(c,d))

(1, 2, 3)
('house', 'work', 'pet store')

[(1, 'house'), (2, 'work'), (3, 'pet store')]

In [143]:
# casting
catcount = 2
print('I have ' + str(catcount) + ' cats')

I have 2 cats

## Python and version notes

We are using Python in this Jupyter Notebook, but (if you set it up differently), you can also run R, Julia, and [many other languages](https://github.com/jupyter/jupyter/wiki/Jupyter-kernels) in Jupyter Notebooks.

In [144]:
print('This is a Python cell!')

This is a Python cell!

This Notebook is using Python verion 3. If you are used to Python 2, note some differences.

In [145]:
# When you divide two integers, you get a float. In Python 2, you would get an integer with any remainder cut off.
5/6

0.8333333333333334

In [146]:
# Print statements need parenthesis. In Python 2, you didn't need them.
print('Python 3 is great')

Python 3 is great

In [147]:
# As far as I know this tutorial will also work in Python 2

## The Jupyter Notebook workflow

Later in the tutorial we will load data into memory, removing us from the original data

In [148]:
# for example
x = 100

In [149]:
# This cell remembers the value of x. We can do some processing on x.
x = x - 4

In [150]:
x

96

In [151]:
# Your turn. Divide x by 2 and reassign it to the variable x

In [152]:
x = x/3

In [153]:
# x should now be 44, but its 32. Oh no!
x

32.0

In [154]:
# Not to worry, just re-run the cells starting from when x was defined!
# A simple example, but a trick that might come in later if something gets messed up.